<!DOCTYPE html>
<html>
<head>
  <title>Error</title>


  <link data-turbolinks-track="true" href="/css/bootstrap.css" media="all" rel="stylesheet" />
  <link data-turbolinks-track="true" href="/css/base.css" media="all" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

        

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.15.min.js"></script>
  
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  



    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.businessHours.js"></script>
    <script type="text/javascript" src="/js/jquery.timepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.businessHours.css"/>




</head>


<nav class="navbar navbar-default" role="navigation">
        <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
              <ul class="nav navbar-nav navbar-left">
                <li><a class="brandtextnavbartitle" href="../">bizhours</a></li>
              </ul>
             
              <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
</nav>

<body>


 <div class="container">
<div id="centerer">
  <div id="listing"><h1><%= title %><br>Why not <a href="../create">Create</a> one instead?</h1></div>
</div>

<!--END CONTENT -->
  </div>




</body>
</html>